.login_container {
    -fx-background-color: #EEEEEE;
}

.login_logo_container {

    -fx-background-color: #132A13;
    -fx-alignment: center;
}

.login_logo_container Text {

    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.login_logo_container FontAwesomeIconView {
    -fx-fill: #ECF39E;
}